<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About")}</h1>
        <p>${_("La plataforma MOOC UC brinda un servicio de educación a distancia abierto cualquier persona que quiera adquirir conocimientos en los cursos ofrecidos. La plataforma se basa en Open edX y es desarrollada y mantenida por la escuela de Ingeniería de Telecomunicaciones de la Universidad de Carabobo")}</p>
    </section>
</main>
