<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("FAQ")}</h1>
        <h2>${_("¿Cómo puedo inscribirme en un curso??")}</h2>
        <p>
            ${_("Para insrcribirse en un curso, debe registrarse en la plataforma a través del enlace que aparece en la parte superior de la misma. Una vez se encuentre registrado, podrá inscribirse en los cursos que desee, a través de la página principal.")}<br/>
        </p>
    
        <h2>${_("¿Cómo puedo desarrollar un curso??")}</h2>
        <p>
            ${_("Para desarrollar un curso, puede contactarnos a través de {email} exponiendo de forma clara su idea. Será contactado por el mismo medio si su curso resulta aprobado para ser agregado a la plataforma.")}<br/>
        </p>
    </section>
</main>
