<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1 class="heading-left">${_("Terms of Service")}</h1>
        <br/>
        <h2>${_("Propósito")}</h2>
        <p>
            ${_("Este servicio está destinado a ser utilizado por:")}<br/>
            <ul>
              <li>${_("Alumnos de la Universidad de Carabobo matriculados en la misma.")}</li>
              <li>${_("Iinstructores, auxiliares docentes y personal de la Universidad de Carabobo.")}</li>
              <li>${_("Personas externas a la Universidad de Carabobo que deseen formarse académicamente.")}</li>
            </ul>
            ${_(
              '''La plataforma MOOC UC es un servicio ofrecido por la Escuela de Ingeniería de Telecomunicaciones de la Universidad de Carabobo. La solicitud y / o el uso de un curso de la plataforma indica la aceptación de estos Términos de Servicio. MOOC UC se ofrece "tal como está" y está destinada únicamente a fines no comerciales.'''
            )}
        </p>

        <h2>${_("Soporte")}</h2>
        <p>
           ${Text(_('''El equipo de soporte de plataforma responderá a las preguntas o dificultades durante las horas de oficina normales de la escuela de Ingeniería de Telecomunicaciones de la universidad y trabajará para resolver los problemas tan pronto como sea práctico dentro de esta ventana de tiempo. Las solicitudes de soporte, los informes de errores y los comentarios deben enviarse a {email}.''')).format(
            email=HTML('<a href="mailto:{email}">{email}</a>').format(
                email=Text(static.get_tech_support_email_address())
        </p>

        <p>
        ${Text(_('''Si tiene algún problema con MOOC UC, contáctenos a través de {email}. En el caso de una interrupción prolongada del sistema (planificada o no planificada), nos pondremos en contacto con los instructores del curso.''')).format(
            email=HTML('<a href="mailto:{email}">{email}</a>').format(
                email=Text(static.get_tech_support_email_address())
          )}
        </p>

        <h2>${_("Uso aceptable")}</h2>
        <p>
          ${_('''Este servicio debe ser usado solo para fines legales y de conformidad con el reglamento de la Universidad de Carabobo. Por ejemplo, no puede utilizarlo para publicar, distribuir o diseminar ningún material difamatorio, obsceno u otro material ilegal, incluida la información de propiedad de otra persona, incluidas las marcas registradas o la información con copyright sin la autorización expresa del titular de los derechos.''')}
        </p>

        <h2>${_("Acceso de usuario")}</h2>
        <p>
          ${_('''Por defecto, cualquier persona puede acceder a MOOC UC y, como tal, pueden participar en cualquier curso del sistema. Los instructores tienen la capacidad y la responsabilidad de anular este valor predeterminado, limitando el acceso a los estudiantes inscritos oficialmente, si así lo desean. Los instructores son responsables de administrar el acceso de los estudiantes y las solicitudes de los estudiantes de todos los materiales del curso publicados en los sitios de cursos actuales y pasados.''')}
        </p>

        <h2>${_("Acceso de instructor")}</h2>
        <p>
           ${_('''Los administradores del curso tienen acceso, previa solicitud, a los sitios del curso, presentes y pasados, durante un mínimo de cinco años. Esto está sujeto a cambios según las limitaciones de almacenamiento y archivo.''')}
        </p>

        <h2>${_("Proceso de archivo")}</h2>
        <p>
         ${_('''Al final del semestre, los cursos se archivan y se eliminan de la vista, pero permanecerán visibles o se restablecerán a solicitud del instructor del curso.''')}
        </p>

        <h2>${_("Derechos de autor")}</h2>
        <p>
          ${_('''La Escuela de Ingeniería de Telecomunicaciones, de acuerdo con la política de la universidad, se compromete a cumplir con todas las leyes de derechos de autor en la mayor medida posible.''')}
        </p>

        <h2>${_("Propiedad intelectual")}</h2>
        <p>
           ${_('''El uso no autorizado de trabajos de terceros con derechos de autor es ilegal, no ético, genera una responsabilidad financiera significativa y daña la reputación de la Universidad de Carabobo. Todos los usuarios de MOOC UC deben ejercer un cuidado escrupuloso para identificar la fuente de cada elemento de terceros publicado en la plataforma.''')}
        </p>

        <h2>${_("Autenticación")}</h2>
        <p>
          ${_('''El usuario es responsable del buen uso y manejo de las credenciales que utiliza para acceder a la plataforma. Dichas credenciales son únicas y no transferibles bajo ningún motivo.''')}
        </p>

        <h2>${_("Almacenamiento y retención de datos")}</h2>
        <p>
          ${_('''Los datos son almacenados y respaldados todas las noches. Los datos del curso se conservan según se muestra en la sección Proceso de archivo.''')}
        </p>
    </section>
</main>
